// ------------------------------+
//
//        Accueil
//
// ------------------------------+

.container {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  .section {
    width: 90%;
    height: 220px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin-left: var(--margin-padding);
    margin-top: var(--margin-padding);

    .section_title {
      font-size: var(--medium-font-size);
      margin-bottom: var(--small-margin-padding);
      font-weight: var(--font-weight-regular);
    }

    .items_container {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
      gap: var(--small-margin-padding);
      width: 100%;
      height: auto;
      overflow-x: scroll;
      overflow: hidden;

      .item {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: left;
      }

      .item_image {
        border-radius: var(--small-border-radius);
        object-fit: cover;
      }

      .item_title {
        margin-top: var(--small-margin-padding);
        font-size: var(--font-size);
      }
    }
  }
}
