@use './variables.scss';

// ------------------------------+
//
//            GLOBAL
//
// ------------------------------+

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  letter-spacing: var(--letter-spacing);
  line-height: var(--line-height);
}

// ------------------------------+
//
//            TEXT
//
// ------------------------------+

a {
  color: inherit;
  text-decoration: none;
}

h2,
h1 {
  font-family: var(--first-font);
}

span,
p {
  font-family: var(--second-font);
}

// ------------------------------+
//
//          SELECTION
//
// ------------------------------+

*::selection {
  background-color: var(--second-color);
  color: var(--main-color);
}

*::-moz-selection {
  background-color: var(--second-color);
  color: var(--main-color);
}

// ------------------------------+
//
//          SCROLLBAR
//
// ------------------------------+

*::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

*::-webkit-scrollbar-track {
  background-color: var(--black-color);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
  border: none;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: var(--third-color);
}
