// ------------------------------+
//
//        Global Page
//
// ------------------------------+

.global_container {
  width: 100vw;
  height: 100vh;
  transition:
    background-color var(--transition-time) ease,
    color var(--transition-time) ease;
}

.global_container.dark {
  background-color: var(--black-color);
  color: var(--white-color);
}

.global_container.light {
  background-color: var(--white-color);
  color: var(--black-color);
}
