// ------------------------------+
//
//        Global Page
//
// ------------------------------+

.global_container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  .webgl {
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
    z-index: 1;
  }
}

// .global_container.dark {
//   color: var(--white-color);
// }

// .global_container.light {
//   color: var(--black-color);
// }
