// ------------------------------+
//
//        Global Page
//
// ------------------------------+

$padding_multiplicator: 2;

.global_container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  .webgl {
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
    z-index: 1;
  }

  .app_wrapper {
    position: relative;
    z-index: 4;
    width: calc(100% - (var(--big-margin-padding) * $padding_multiplicator));
    height: calc(100% - (var(--big-margin-padding) * $padding_multiplicator));
    display: flex;
    justify-content: center;
    align-items: flex-start;
    border-radius: var(--border-radius);

    .background_img {
      width: 100%;
      height: 100%;
      transition:
        background-image var(--transition-time),
        color var(--transition-time);
      opacity: var(--less-opacity);
      border-radius: var(--border-radius);
      animation: fadeIn var(--text-animation) ease-in-out;
      position: absolute;

      @keyframes fadeIn {
        0% {
          opacity: 0;
        }
        100% {
          opacity: var(--less-opacity);
        }
      }
    }
  }
}

// ------------------------------+
//
//        Light Dark Mode
//
// ------------------------------+

$dark_background: '/images/background/dark_background.png';
$light_background: '/images/background/light_background.png';

.global_container.dark {
  p {
    color: var(--white-color);
  }

  .background_img {
    background: url(#{$dark_background}) no-repeat center center;
    background-size: cover;
  }
}

.global_container.light {
  p {
    color: var(--black-color);
  }

  .background_img {
    background: url(#{$light_background}) no-repeat center center;
    background-size: cover;
  }
}
