// ------------------------------+
//
//            FONT
//
// ------------------------------+

@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

// ------------------------------+
//
//            VARIABLE
//
// ------------------------------+

:root {
  /* Colors */
  --white-color: #f8f8ff;
  --black-color: #0a0a0a;
  --main-color: darkblue;
  --second-color: purple;
  --third-color: deepskyblue;
  --gradient-color-to-right: linear-gradient(
    to right,
    var(--main-color),
    var(--second-color)
  );

  /* Borders */
  --border-radius: 20px;
  --border-radius-big: 40px;
  --circle-border-radius: 50%;
  --border-width: 1px;
  --border-width-big: 2px;

  /* Fonts */
  --first-font: 'Audiowide', sans-serif;
  --second-font: 'Lexend', sans-serif;

  /* Font Weight */
  --font-weight-regular: 400;
  --font-weight-bold: 600;

  /* Font Size */
  --small-small-font-size: 12px;
  --small-font-size: 14px;
  --font-size: 16px;
  --medium-font-size: 18px;
  --big-font-size: 24px;
  --title-font-size: 48px;

  /* Text */
  --text-indent: 20px;
  --letter-spacing: normal;
  --line-height: normal;

  /* Animations */
  --transition: 0.6s all;
  --transition-time: 0.6s;

  /* Margin & Padding */
  --small-margin-padding: 10px;
  --margin-padding: 20px;
  --big-margin-padding: 40px;

  /* Opacity */
  --less-opacity: 0.6;

  /* zIndex */
  --top-zindex: 100;
}
