// ------------------------------+
//
//      Offline Page ✨ Pimped
//
// ------------------------------+

.offline {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--black-color);
  padding: var(--big-margin-padding);

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    text-align: center;

    .iconWrapper {
      display: flex;
      justify-content: center;
      align-items: center;

      .icon {
        font-size: var(--title-font-size);
        color: var(--white-color);
        animation: pulse var(--transition-time) infinite;

        @keyframes pulse {
          0% {
            transform: scale(1);
            opacity: 0.8;
          }
          50% {
            transform: scale(1.1);
            opacity: 1;
          }
          100% {
            transform: scale(1);
            opacity: 0.8;
          }
        }
      }
    }

    .title {
      font-size: var(--big-font-size);
      color: transparent;
      background-clip: text;
      -webkit-background-clip: text;
      overflow: hidden;
      cursor: pointer;
      background-image: var(--gradient-color-to-right-dark);
      margin: var(--margin-padding) 0;
    }

    .title_second {
      margin-top: var(--small-margin-padding);
      font-size: var(--medium-font-size);
      color: var(--white-color);
    }

    .message {
      margin-top: var(--margin-padding);
      color: var(--white-color);
      font-size: var(--font-size);
      text-align: justify;
    }

    .button {
      margin-top: var(--margin-padding);
      padding: var(--small-margin-padding);
      font-size: var(--medium-font-size);
      font-family: var(--second-font);
      cursor: pointer;
      color: var(--white-color);
      border: none;
      border-radius: var(--border-radius);
      display: flex;
      align-items: center;
      justify-content: center;
      transition: var(--transition);
      background: var(--gradient-color-to-right-dark);

      &:hover {
        transition: var(--transition) all;
        animation: jumpScale var(--transition-time) ease-in-out reverse;
        @keyframes jumpScale {
          0% {
            transform: translateY(0) scale(1);
          }
          50% {
            transform: translateY(calc(var(--small-margin-padding) * -1))
              scale(1.2);
          } // Saut + agrandissement
          100% {
            transform: translateY(0) scale(1);
          }
        }
      }
    }
  }
}
